<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="allRecords" value="select viad.RecId,viad.NameDesc,viad.ComponentID,
CASE 
WHEN gl.Grp = 'Core Services Engineering and Operations' THEN 'CSEO' 
WHEN gl.Grp = 'WWL' THEN 'WWL' 
END AS [Grp],CASE WHEN sg.SubGrp = 'Corporate Functions Engineering' THEN 'CFE' 
WHEN sg.SubGrp = 'Core Platform Engineering' THEN 'CPE' 
WHEN sg.SubGrp = 'Digital Security and Risk Engineering' THEN 'DSRE' 
WHEN sg.SubGrp = 'End User Services Engineering' THEN 'EUSE' 
WHEN sg.SubGrp = 'Sales Marketing and Shared Experiences' THEN 'SMSE' 
WHEN sg.SubGrp = 'Operations' THEN 'Operations' 
WHEN sg.SubGrp = 'Learning' THEN 'Learning' 
WHEN sg.SubGrp = 'LeX' THEN 'LeX' 
WHEN sg.SubGrp = 'Readiness' THEN 'Readiness' 
WHEN sg.SubGrp = 'WW Readiness' THEN 'WW Readiness' 
WHEN sg.SubGrp = 'WWL' THEN 'WWL' END AS [SubGrp],
viad.CreatedDt,viad.SubGrpAccLead,viad.EngOnwer,viad.StatusTweet,viad.SrvOffering,
pl.Priority,gdl.Grade,invOpsSts.OpsStatus,viad.isDeleted,View_InventoryTags.Tags from [dbo].[Vw_Inv_App_Data] viad with (nolock)
left join [dbo].[GroupLookups] gl on viad.GrpId =  gl.GrpId and gl.IsDelete = 0
left join [dbo].[SubGroups] sg on viad.SubGrPId = sg.SubGrpId and sg.isDeleted = 0
left join [dbo].[PriorityLookups] pl on viad.PriId = pl.PriorityId  and pl.isDeleted = 0
left join [dbo].[GradeLookups] gdl on viad.GradeId = gdl.GradeId and gdl.isDeleted = 0
left join [dbo].[OpsStatusLookups] invOpsSts on viad.OpsStatusId = invOpsSts.OpsStatusId and invOpsSts.isDeleted = 0
left join [dbo].View_InventoryTags on [dbo].View_InventoryTags.RecId = viad.RecId 
where  viad.GrpId in (2,10) and viad.RecId is not null and viad.PriId=4 and (View_InventoryTags.Tags !='non-inventory' OR View_InventoryTags.Tags IS NULL) ORDER BY viad.RecId DESC"/>
    <!--Old: 4/28/2020
    <add key="allRecords" value="select viad.RecId,viad.NameDesc,viad.ComponentID,
CASE 
WHEN gl.Grp = 'Core Services Engineering and Operations' THEN 'CSEO' 
WHEN gl.Grp = 'WWL' THEN 'WWL' 
END AS [Grp],CASE WHEN sg.SubGrp = 'Corporate Functions Engineering' THEN 'CFE' 
WHEN sg.SubGrp = 'Core Platform Engineering' THEN 'CPE' 
WHEN sg.SubGrp = 'Digital Security and Risk Engineering' THEN 'DSRE' 
WHEN sg.SubGrp = 'End User Services Engineering' THEN 'EUSE' 
WHEN sg.SubGrp = 'Sales Marketing and Shared Experiences' THEN 'SMSE' 
WHEN sg.SubGrp = 'Operations' THEN 'Operations' 
WHEN sg.SubGrp = 'Learning' THEN 'Learning' 
WHEN sg.SubGrp = 'LeX' THEN 'LeX' 
WHEN sg.SubGrp = 'Readiness' THEN 'Readiness' 
WHEN sg.SubGrp = 'WW Readiness' THEN 'WW Readiness' 
WHEN sg.SubGrp = 'WWL' THEN 'WWL' END AS [SubGrp],
viad.CreatedDt,viad.SubGrpAccLead,viad.EngOnwer,viad.StatusTweet,viad.SrvOffering,
pl.Priority,gdl.Grade,invOpsSts.OpsStatus,viad.isDeleted from [dbo].[Vw_Inv_App_Data] viad
left join [dbo].[GroupLookups] gl on viad.GrpId =  gl.GrpId and gl.IsDelete = 0
left join [dbo].[SubGroups] sg on viad.SubGrPId = sg.SubGrpId and sg.isDeleted = 0
left join [dbo].[PriorityLookups] pl on viad.PriId = pl.PriorityId  and pl.isDeleted = 0
left join [dbo].[GradeLookups] gdl on viad.GradeId = gdl.GradeId and gdl.isDeleted = 0
left join [dbo].[OpsStatusLookups] invOpsSts on viad.OpsStatusId = invOpsSts.OpsStatusId and invOpsSts.isDeleted = 0
where viad.RecId is not null ORDER BY viad.RecId DESC"/>-->
    <add key="0" value="FY20GradeC"></add>
    <add key="1" value="CSEOAssessmentInProgress"></add>
    <add key="2" value="CSEOAssessmentNotStarted"></add>
    <add key="3" value="GradeReviewCompleted"></add>
    <add key="4" value="GradeReviewInProgress"></add>
    <add key="5" value="ScheduledForGradeReview"></add>
    <add key="6" value="erviceOnboardingInProgress"></add>
    <add key="7" value="ReadyAssessmentOnboard"></add>
    <add key="8" value="PostSelfCompleted"></add>
    <add key="9" value="PostSelfStarted"></add>
    <add key="10" value="PostSelfNotStarted"></add>
    <add key="11" value="SelfCompleted"></add>
    <add key="12" value="SelfInProgress"></add>
    <add key="13" value="SelfToStart"></add>
    <add key="14" value="AllP3UserStories"></add>
    
    <!--QA-->
    <add key="Prod_To_Test_P3ApplicationSend" value="v-chvak@microsoft.com;"></add>
    <add key="Prod_To_Draft_P3ApplicationSend" value="v-chkov@microsoft.com;v-parama@microsoft.com;v-chvak@microsoft.com;v-ambhol@microsoft.com"></add>
    
    <!--Prod-->
    <add key="Prod_To_P3ApplicationSend" value="Jia.Ma@microsoft.com;v-chkov@microsoft.com"></add>
    <add key="Prod_CC_P3ApplicationSend" value="v-parama@microsoft.com;v-chvak@microsoft.com;v-bajamp@microsoft.com;v-jpalat@microsoft.com;v-ambhol@microsoft.com;"></add>
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>